/* styles.css */

.task-card {
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 20px !important;
  box-shadow: 0 4px 8px rgba(73, 140, 150, 0.5); /* Colored shadow */
}

.task-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
}

.task-card-description {
  flex: 1;
  padding-right: 16px;
}

.task-card-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-card-avatar-box {
  display: flex;
  align-items: center;
}

.task-card-name {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 8px;
}

.task-card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.task-card-due-date {
  background-color: #498696;
  font-size: 20px;
  color: white;
  padding: 2px 0px;
  border-radius: 4px;
  font-weight: 400;
}


.task-list-container {
  padding: 10px;
  background-color: #4986961A;
  font-family: "Katibeh", serif !important;
  border-radius: 12px;
  max-width: 25rem;
  /*box-shadow: 2;*/
  display: flex;
  flex-direction: column;
  height: 100%;
}

.task-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.add-task-button {
  width: 100%;
  border-radius: 12px;
  text-transform: none;
  background-color: #498696;
}

.add-task-button:hover {
  background-color: #498696;
}
